<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2025. Volodymyr Hryvinskyi. All rights reserved.
  ~ @author: <mailto:volodymyr@hryvinskyi.com>
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Hryvinskyi_BannerSlider">
        <sequence>
            <module name="Hryvinskyi_BannerSliderApi"/>
            <module name="Magento_Store"/>
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
